.product {
    margin: auto;
    padding: auto;
    position: relative;
    height: 300px;
    width: 170px;
    border: #060047 solid 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.product img {
    display: block;
    margin: auto;
    width: 140px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
}

.product-name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    color: #49a9ee;
}

.product-category {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #000000;
}

.product-price {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    color: #060047;
}

.product-info {
    margin: 2px 0 0 10px;
    
}

.btn-cart{
    width: 100%;
    background: #060047;
    border-radius: 0 0 6px 6px;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background: rgb(255, 170, 0);
}
